<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIENVENIDO A MONTESITOS</title>
    <link rel="stylesheet" href="../css/styles2.css">
</head>
<body>
    <header>
        <h1>BIENVENIDO A MONTESITOS</h1>
    </header>
    <div>
                                    <img src = "../src/vaca.avif" height="400" alt=" ">  <img src = "../src/vaca.avif" height="400" alt=" "> <img src = "../src/vaca.avif" height="400" alt=" ">  <img src = "../src/vaca.avif" height="400" alt=" "> 
    </div>
    <nav>
        <ul>
            <button> <li><a href="#">INICIAR SESIÓN</a></li></button>
            <button><li><a href="#">REGÍSTRATE</a></li></button>
        </ul>
    </nav>
    <!-- Aquí puedes agregar más contenido, como imágenes, texto, etc. -->
    <footer>
        <p>© 2024 Montesitos. Todos los derechos reservados.</p>
    </footer>
</body>
</html>