/* Estilos para la alerta */
.alert {
    padding: 20px;
    background-color: #f44336; /* Rojo */
    color: white;
    margin-bottom: 15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bc4549;
    text-align: center;
}
h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}