/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Enlaces de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Centrar los enlaces horizontalmente */
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Cambiar el color de los enlaces */
    font-weight: bold;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #eee;
}
button {
    text-align: center;
    padding: 10px;
    background-color: #e21f1f;
}